name: Run client and server side tests

on:
  push:
    branches:
      - main
      - feature/add-unit-tests-auth

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "14"

      - name: Install server dependencies
        run: npm install

      - name: Install client dependencies
        run: cd client && npm install

      - name: Build client
        run: cd client && npm build

      - name: Run tests
        run: npm run test